etl-assignment1-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "etl-assignment1-adf"
		},
		"etl_assignment1_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'etl_assignment1_ls'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/etl_assignment1_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('etl_assignment1_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/additional_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "AdditionalData.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleaned_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "transformed"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "CleanedData.csv",
						"container": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "TotalAmount",
						"type": "String"
					},
					{
						"name": "CleanedProductName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/high_value_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "transformed"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "HighValueTransactions.csv",
						"container": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "CleanedProductName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/low_value_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "transformed"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "LowValueTransactions.csv",
						"container": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "CleanedProductName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/merged_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "transformed"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "MergedData.csv",
						"container": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "TotalAmount",
						"type": "String"
					},
					{
						"name": "CleanedProductName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/part3_cleaned_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Part3CleanedData.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/part4_merged_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Part4MergedData.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "TransactionDate",
						"type": "String"
					},
					{
						"name": "TotalAmount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "raw"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SSIS_Assignment_Data.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transformed_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "transformed"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TransformedData.csv",
						"container": "transformed"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "Price",
						"type": "String"
					},
					{
						"name": "TotalAmount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loop')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "loop"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "loop"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/loop_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etl_assignment1_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "loop"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"container": "loop"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CleanupProductName')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "raw",
								"type": "DatasetReference"
							},
							"name": "SSISAssignmentData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "cleaned_data",
								"type": "DatasetReference"
							},
							"name": "CleanedData",
							"rejectedDataLinkedService": {
								"referenceName": "etl_assignment1_ls",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "DerivedColumnCleanedProductName"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TransactionID as integer,",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Quantity as integer,",
						"          Price as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SSISAssignmentData",
						"SSISAssignmentData derive(CleanedProductName = lower(ProductName)) ~> DerivedColumnCleanedProductName",
						"DerivedColumnCleanedProductName sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ProductID as string,",
						"          ProductName as string,",
						"          Quantity as string,",
						"          Price as string,",
						"          TotalAmount as string,",
						"          CleanedProductName as string",
						"     ),",
						"     partitionFileNames:['CleanedData.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> CleanedData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/raw')]",
				"[concat(variables('factoryId'), '/datasets/cleaned_data')]",
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConditionalProcessing')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "part4_merged_data",
								"type": "DatasetReference"
							},
							"name": "Part4MergedData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "high_value_transactions",
								"type": "DatasetReference"
							},
							"name": "HighValueTransactions",
							"rejectedDataLinkedService": {
								"referenceName": "etl_assignment1_ls",
								"type": "LinkedServiceReference"
							}
						},
						{
							"dataset": {
								"referenceName": "low_value_transactions",
								"type": "DatasetReference"
							},
							"name": "LowValueTransactions",
							"rejectedDataLinkedService": {
								"referenceName": "etl_assignment1_ls",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "ConditionalSplit"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TransactionID as integer,",
						"          TransactionDate as date,",
						"          TotalAmount as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> Part4MergedData",
						"Part4MergedData split(greater(TotalAmount, 1000),",
						"     disjoint: false) ~> ConditionalSplit@(HighValue, LowValue)",
						"ConditionalSplit@HighValue sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ProductID as string,",
						"          ProductName as string,",
						"          Quantity as string,",
						"          Price as string,",
						"          CleanedProductName as string",
						"     ),",
						"     partitionFileNames:['HighValueTransactions.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> HighValueTransactions",
						"ConditionalSplit@LowValue sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ProductID as string,",
						"          ProductName as string,",
						"          Quantity as string,",
						"          Price as string,",
						"          CleanedProductName as string",
						"     ),",
						"     partitionFileNames:['LowValueTransactions.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> LowValueTransactions"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/part4_merged_data')]",
				"[concat(variables('factoryId'), '/datasets/high_value_transactions')]",
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]",
				"[concat(variables('factoryId'), '/datasets/low_value_transactions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CreateTotalAmount')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "raw",
								"type": "DatasetReference"
							},
							"name": "SSISAssignmentData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "transformed_data",
								"type": "DatasetReference"
							},
							"name": "TransformedData",
							"rejectedDataLinkedService": {
								"referenceName": "etl_assignment1_ls",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "DerivedColumnTotalAmount"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TransactionID as integer,",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Quantity as integer,",
						"          Price as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SSISAssignmentData",
						"SSISAssignmentData derive(TotalAmount = multiply(Quantity,Price)) ~> DerivedColumnTotalAmount",
						"DerivedColumnTotalAmount sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ProductID as string,",
						"          ProductName as string,",
						"          Quantity as string,",
						"          Price as string,",
						"          TotalAmount as string",
						"     ),",
						"     partitionFileNames:['TransformedData.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          TransactionID,",
						"          ProductID,",
						"          ProductName,",
						"          Quantity,",
						"          Price,",
						"          TotalAmount",
						"     ),",
						"     partitionBy('hash', 1)) ~> TransformedData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/raw')]",
				"[concat(variables('factoryId'), '/datasets/transformed_data')]",
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MergeData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "part3_cleaned_data",
								"type": "DatasetReference"
							},
							"name": "Part3CleanedData"
						},
						{
							"dataset": {
								"referenceName": "additional_data",
								"type": "DatasetReference"
							},
							"name": "AdditionalData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "merged_data",
								"type": "DatasetReference"
							},
							"name": "MergedData",
							"rejectedDataLinkedService": {
								"referenceName": "etl_assignment1_ls",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "MergeData"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TransactionID as integer,",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Quantity as integer,",
						"          Price as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> Part3CleanedData",
						"source(output(",
						"          TransactionID as integer,",
						"          ProductID as integer,",
						"          ProductName as string,",
						"          Quantity as integer,",
						"          Price as float",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     inferDriftedColumnTypes: true,",
						"     ignoreNoFilesFound: false) ~> AdditionalData",
						"Part3CleanedData, AdditionalData union(byName: false)~> MergeData",
						"MergeData sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ProductID as string,",
						"          ProductName as string,",
						"          Quantity as string,",
						"          Price as string,",
						"          TotalAmount as string,",
						"          CleanedProductName as string",
						"     ),",
						"     partitionFileNames:['MergedData.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> MergedData"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/part3_cleaned_data')]",
				"[concat(variables('factoryId'), '/datasets/additional_data')]",
				"[concat(variables('factoryId'), '/datasets/merged_data')]",
				"[concat(variables('factoryId'), '/linkedServices/etl_assignment1_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_foreach_loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetFileList",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetFileList').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "IfCondition",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "GetFileName",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(equals(activity('GetFileName').output.itemName, 'Input04.txt'), equals(activity('GetFileName').output.itemName, 'Inputt04.txt'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "WriteData",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "loop_files",
														"type": "DatasetReference",
														"parameters": {
															"file_name": "@{item().name}"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "loop_files",
														"type": "DatasetReference",
														"parameters": {
															"file_name": "FileOne.csv"
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "GetFileName",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "loop_files",
											"type": "DatasetReference",
											"parameters": {
												"file_name": "@string(item().name)"
											}
										},
										"fieldList": [
											"itemName"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								}
							]
						}
					},
					{
						"name": "GetFileList",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "loop",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "transform"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/loop')]",
				"[concat(variables('factoryId'), '/datasets/loop_files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_conditional_processing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ConditionalProcessing",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "ConditionalProcessing",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Part4MergedData": {},
									"HighValueTransactions": {},
									"LowValueTransactions": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "transform"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/ConditionalProcessing')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_data_cleanup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CleanupProductName",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "CleanupProductName",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SSISAssignmentData": {},
									"CleanedData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "transform"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/CleanupProductName')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_data_merge')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MergeData",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MergeData",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Part3CleanedData": {},
									"AdditionalData": {},
									"MergedData": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "transform"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MergeData')]"
			]
		}
	]
}